.hide {
    display: none;
}

.page {
    background: white;
}

#map {
    position: absolute;
    width: 100%;
    top: 90%;
    -moz-transition: top .5s ease;
    transition: top .5s ease
}

#map.in {
    top: 0;
}

#map-object {
    min-height: 300px;
    z-index: 2;
}
